// COB-specific icon mappings
$cob-site-banner-icons: (
  "boston": "account_balance",
  "https": "security",
  "chevron": "expand_more"
);

$cob-slim-header-icons: (
  "logo": "account_balance"
);

$cob-slim-footer-icons: (
  "logo": "account_balance",
  "311": "support_agent"
); 