@use "bwds-core" as *;

.cob-character-count__status {
  display: inline-block;
  padding-top: units(0.5);

  &.cob-character-count__status--invalid {
    color: color("error-dark");
    font-weight: font-weight("bold");
  }
}
